{
  "branches": [
    "main",
    {
      "name": "develop",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    [
      "@semantic-release/exec",
      {
        "verifyReleaseCmd": "echo next_release=${nextRelease.version} >> $GITHUB_OUTPUT"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "verifyReleaseCmd": "echo will_create_new_release=$([ ${lastRelease.version} = ${nextRelease.version} ] && echo false || echo true) >> $GITHUB_OUTPUT"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "sed -i  's/applicationVersion=.*/applicationVersion=${nextRelease.version}/g' gradle.properties"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "sed -i  's/appVersion:.*/appVersion: ${nextRelease.version}/g' ./charts/managed-identity-wallet/Chart.yaml && sed -i  '0,/version:.*/s//version: ${nextRelease.version}/g' ./charts/managed-identity-wallet/Chart.yaml"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "./gradlew dashLicenseCheck"
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "cd charts/managed-identity-wallet && helm-docs -i .helmdocsignore ."
      }
    ],
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "DEPENDENCIES",
          "gradle.properties",
          "./charts/managed-identity-wallet/Chart.yaml",
          "./charts/managed-identity-wallet/README.md"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    "@semantic-release/github"
  ]
}
