################################################################################
# Copyright (c) 2021,2024 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the
# terms of the Apache License, Version 2.0 which is available at
# https://www.apache.org/licenses/LICENSE-2.0.
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
# SPDX-License-Identifier: Apache-2.0
################################################################################

server:
  port: ${APPLICATION_PORT:8080}
  shutdown: graceful
  compression:
    enabled: true
spring:
  profiles:
    active: ${APPLICATION_ENVIRONMENT:dev}
  liquibase:
    change-log: classpath:/db/changelog/changelog-master.xml
  application:
    name: miw
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5434}/${DB_NAME:miw}?useSSL=${USE_SSL:false}
    username: ${DB_USER_NAME:admin}
    password: ${DB_PASSWORD:admin}
    initialization-mode: always
    hikari:
      maximumPoolSize: ${DB_POOL_SIZE:10}
  jpa:
    show-sql: false
  security:
    oauth2:
      resourceserver:
        jwt:
          #Issuer-uri indicates the iss claims from jwt token
          issuer-uri: ${miw.security.auth-server-url}/realms/${miw.security.realm}
          jwk-set-uri: ${miw.security.auth-server-url}/realms/${miw.security.realm}/protocol/openid-connect/certs

## only needed if you want to enable API doc
springdoc:
  swagger-ui:
    oauth:
      clientId: ${KEYCLOAK_MIW_PUBLIC_CLIENT} #It should be public client created in keycloak
    disable-swagger-default-url: true
    path: /ui/swagger-ui
    show-common-extensions: true
    csrf:
      enabled: true
  api-docs:
    path: /docs/api-docs

management:
  server:
    port: ${MANAGEMENT_PORT:8090}
  endpoint:
    loggers:
      enabled: true
    health:
      probes:
        enabled: true
  endpoints:
    web:
      exposure:
        include: '*, pre-stop, loggers'
  health:
    db:
      enabled: true
    livenessState:
      enabled: true
    readinessState:
      enabled: true

# log level
logging:
  level:
    org:
      eclipse:
        tractusx:
          managedidentitywallets: ${APP_LOG_LEVEL:INFO}

miw:
  host: ${MIW_HOST_NAME:a888-203-129-213-107.ngrok-free.app}
  encryptionKey: ${ENCRYPTION_KEY:PQL+9tK5jaKXR+9hepTsNg==}
  authorityWalletBpn: ${AUTHORITY_WALLET_BPN:BPNL000000000000}
  authorityWalletName: ${AUTHORITY_WALLET_NAME:Catena-X}
  authorityWalletDid: ${AUTHORITY_WALLET_DID:did:web:a888-203-129-213-107.ngrok-free.app:BPNL000000000000}
  authoritySigningServiceType: ${AUTHORITY_SIGNING_SERVICE_TYPE:LOCAL}
  localSigningKeyStorageType: ${LOCAL_SIGNING_KEY_STORAGE_TYPE:DB}
  vcContexts: ${VC_SCHEMA_LINK:https://www.w3.org/2018/credentials/v1, https://catenax-ng.github.io/product-core-schemas/businessPartnerData.json}
  vcExpiryDate: ${VC_EXPIRY_DATE:01-10-2023} #dd-MM-yyyy ie.  01-01-2025 expiry date will be 2024-12-31T18:30:00Z in VC
  enforceHttps: ${ENFORCE_HTTPS_IN_DID_RESOLUTION:true}
  didDocumentContextUrls: ${DID_DOCUMENT_CONTEXT_URL:https://www.w3.org/ns/did/v1,https://w3c.github.io/vc-jws-2020/contexts/v1}
  security:
    enabled: true
    realm: ${KEYCLOAK_REALM:miw_test}
    clientId: ${KEYCLOAK_CLIENT_ID:miw_private_client}
    auth-server-url: ${AUTH_SERVER_URL:http://localhost:28080}
    auth-url: ${miw.security.auth-server-url}/realms/${miw.security.realm}/protocol/openid-connect/auth
    token-url: ${miw.security.auth-server-url}/realms/${miw.security.realm}/protocol/openid-connect/token
    refresh-token-url: ${miw.security.token-url}
  revocation:
    url: ${REVOCATION_SERVICE_URL:http://localhost:8081}


sts:
  token-duration: 60000
  token-service: org.eclipse.tractusx.managedidentitywallets.service.

