# Build
SKIP_GRADLE_TASKS_PARAM="-x jacocoTestCoverageVerification -x test"
DEV_ENVIRONMENT=local

# Docker: Postgres config
POSTGRES_DB=keycloak
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=
POSTGRES_DB_NAME_MIW=miw
POSTGRES_USERNAME_MIW=miw_user
POSTGRES_PASSWORD_MIW=

# Docker: pgAdmin config
PGADMIN_DEFAULT_EMAIL=pg@admin.com

# Docker: Keycloak config
KEYCLOAK_MIW_PUBLIC_CLIENT=miw_public
DB_DATABASE=keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=
KC_HOSTNAME=localhost

# Docker: App config
KEYCLOAK_CLIENT_ID=miw_private_client
ENCRYPTION_KEY=
AUTHORITY_WALLET_BPN=BPNL000000000000
AUTHORITY_WALLET_DID=did:web:localhost:BPNL000000000000
AUTHORITY_WALLET_NAME=Catena-X
KEYCLOAK_REALM=miw_test
VC_SCHEMA_LINK="https://www.w3.org/2018/credentials/v1, https://catenax-ng.github.io/product-core-schemas/businessPartnerData.json"
VC_EXPIRY_DATE=01-01-2025
SUPPORTED_FRAMEWORK_VC_TYPES="PcfCredential, SustainabilityCredential, QualityCredential, TraceabilityCredential, BehaviorTwinCredential, ResiliencyCredential"
MIW_HOST_NAME=localhost
ENFORCE_HTTPS_IN_DID_RESOLUTION=false

######### DON'T MODIFY ANYTHING BELOW THIS LINE !!! #########
AUTH_SERVER_URL=http://localhost:8080
APPLICATION_PORT=8000
MANAGEMENT_PORT=8090
APPLICATION_ENVIRONMENT=dev
DB_HOST=localhost
DB_PORT=5432
USE_SSL=false
DB_USER=${POSTGRES_USER}
DB_NAME=${POSTGRES_DB_NAME_MIW}
DB_USER_NAME=${POSTGRES_USERNAME_MIW}
DB_PASSWORD=${POSTGRES_PASSWORD_MIW}
PGADMIN_DEFAULT_PASSWORD=${POSTGRES_PASSWORD}
