name: Lint and Test Charts

# Run chart linting and tests on each pull request
on: 
  pull_request:
    paths:
      - 'charts/**'

jobs:
  chart-lint:    
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.11.3

      - name: Update Helm dependencies
        run: |
          cd charts/managed-identity-wallet
          helm dependency update

      - name: Install Helm unittest plugin
        run: |
          helm plugin install https://github.com/helm-unittest/helm-unittest.git

      # Setup python as a prerequisite for chart linting 
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.3.1

      - name: Install Task
        uses: arduino/setup-task@v1

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --target-branch ${{ github.event.repository.default_branch }})
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      # run chart linting 
      - name: Run chart-testing (lint)
        run: ct lint --config charts/chart-testing-config.yaml --charts ./charts/managed-identity-wallet

      # run chart unittest
      - name: Run Helm unittests
        run: task helm:unittest

      # Preparing a kind cluster to install and test charts on
      - name: Create kind cluster
        uses: helm/kind-action@v1.7.0
        if: steps.list-changed.outputs.changed == 'true'

      # install the chart to the kind cluster and run helm test
      # define charts to test with the --charts parameter
      - name: Run chart-testing (install)
        run: ct install --charts charts/managed-identity-wallet --config charts/chart-testing-config.yaml
        if: steps.list-changed.outputs.changed == 'true'
